
@{
    ViewData["Title"] = "Sumar 2 Numeros";
}

<h1 class="display-4">Sumando 2 Numeros</h1>

<form asp-controller="Home" asp-action="add2" method="post">
    <span>Ingrese Numero 1: </span><input class="t1" type="text" name="tx1"/>
    <span>Ingrese Numero 2: </span><input class="t2" type="text" name="tx2"/>
    <input type="button" name="Sumar" value="Sumar" />
</form>


