<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Rappi'Doz</title>
    <link rel="stylesheet" href="/UI-HTML-CSS/Styles/login-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="form">
        <h1>Registrarse</h1>
        
        <section>
            <div class="container-translucid">
                <input type="text" placeholder="Nombre completo" autofocus>
                <i class="fa-solid fa-user"></i>
            </div>
        </section>

        <section>
            <div class="container-translucid">
                <input type="email" placeholder="Correo electrónico">
                <i class="fa-solid fa-envelope"></i>
            </div>
        </section>

        <section>
            <div class="container-translucid">
                <input type="password" placeholder="Contraseña">
                <i class="fa-solid fa-key"></i>
            </div>
        </section>

        <section>
            <div class="container-translucid">
                <input type="password" placeholder="Confirmar contraseña">
                <i class="fa-solid fa-lock"></i>
            </div>
        </section>

        <section>
            <div class="container-translucid">
                <input type="text" placeholder="Número telefónico">
                <i class="fa-solid fa-phone"></i>
            </div>
        </section>

        <section>
            <div class="container">
                <label id="remember"><input type="checkbox"> Recordarme</label>
            </div>
        </section>

        <section>
            <div class="container-translucid">
                <a href="./selector.html" style="width: 100%; display: flex; justify-content: center;">
                    <input type="submit" id="button" value="Registrarse" style="cursor: pointer;">
                </a>
            </div>
        </section>

        <div class="register">
            <a href="login.html" id="register">¿Ya tienes una cuenta? Iniciar sesión</a>
        </div>
    </div>
</body>
</html>