
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Rappi'Doz</title>
    <link rel="stylesheet" href="~/css/Accesos/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>


    <div class="form">
        <h1>Iniciar Sesión</h1>

        @* Usamos ID para procesar por AJAX *@
        <form id="loginForm" asp-controller="Accesos" asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <section>
                <div class="container-translucid">
                    <input type="email" name="correo" id="correo" placeholder="Correo electrónico" autofocus required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </section>

            <section>
                <div class="container-translucid">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required>
                    <i class="fa-solid fa-lock"></i>
                </div>
            </section>

            <section>
                <div class="container">
                    <a asp-controller="Accesos" asp-action="OlvidastePassword" id="forgot-password">¿Olvidaste tu contraseña?</a>
                </div>
            </section>

            @* Contenedor dinámico para errores sin recargar *@
            <div id="error-message"></div>

            <section>
                <div class="container-button">
                    <button type="submit" id="button">Entrar</button>
                </div>
            </section>
        </form>

        <div class="register">
            <a asp-controller="Accesos" asp-action="Registrar" id="register">¿No tienes una cuenta? Regístrate</a>
        </div>
    </div>

    <script src="~/js/Accesos/login.js"></script>
</body>
</html>
