@model RappiDozApp.Models.Usuario

@{
    ViewData["Title"] = "Registro";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Rappi'Doz</title>
    <link rel="stylesheet" href="~/css/Accesos/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    @* Necesitamos SweetAlert2 aquí también *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>


    <div class="form">
        <h1>Registrarse</h1>

        <form id="registerForm" asp-controller="Accesos" asp-action="Registrar" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            <section>
                <div class="container-translucid">
                    <input asp-for="NombreCompleto" id="NombreCompleto" type="text" placeholder="Nombre completo" autofocus required>
                    <i class="fa-solid fa-user"></i>
                </div>
            </section>

            <section>
                <div class="container-translucid">
                    <input asp-for="Email" id="Email" type="email" placeholder="Correo electrónico" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </section>

            <section>
                <div class="container-translucid">
                    <input asp-for="PasswordHash" id="PasswordHash" type="password" placeholder="Contraseña" required autocomplete="new-password">
                    <i class="fa-solid fa-key"></i>
                </div>
            </section>

            <section>
                <div class="container-translucid">
                    <input type="password" name="confirmarPassword" id="confirmarPassword" placeholder="Confirmar contraseña" required autocomplete="new-password">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </section>

            <section>
                <div class="container-translucid">
                    <input asp-for="Telefono" type="text" placeholder="Número telefónico">
                    <i class="fa-solid fa-phone"></i>
                </div>
            </section>


            @* Contenedor de errores oculto *@
            <div id="error-message" class="feedback-error hidden-feedback"></div>

            <section>
                <div class="container-button">
                    <button type="submit" id="button">Registrarse</button>
                </div>
            </section>

            <div class="register register-spaced">
                <a asp-action="Login" asp-controller="Accesos" id="register">¿Ya tienes una cuenta? Iniciar sesión</a>
            </div>
        </form>
    </div>

    <script src="~/js/Accesos/register.js"></script>
</body>
</html>
