<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Rappi'Doz</title>
    <link rel="stylesheet" href="/UI-HTML-CSS/Styles/login-styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="form">
        <h1>Iniciar Sesión</h1>
        <section>
            <div class="container-translucid">
                <input type="email" placeholder="Correo electrónico" autofocus><i class="fa-solid fa-envelope"></i>
            </div>
        </section>
        <section>
            <div class="container-translucid">
                <input type="password" placeholder="Contraseña"><i class="fa-solid fa-lock"></i>
            </div>
        </section>
        <section>
            <div class="container">
                <label id="remember"><input type="checkbox">Recordarme</label>
                <a href="olvidaste-contrasena.html" id="forgot-password">¿Olvidaste tu contraseña?</a>
            </div>
        </section>
        <section>
            <div class="container-translucid">
                <a href="../index.html" style="width: 100%; display: flex; justify-content: center;">
                    <input type="submit" id="button" value="Entrar" style="cursor: pointer;">
                </a>
            </div>
        </section>
        <div class="register">
            <a href="register.html" id="register">¿No tienes una cuenta? Regístrate</a>
        </div>
    </div>
</body>
</html>