@* #region Page Transition *@
<div id="page-loader" class="page-loader">
  <div class="clouds-container">
    <div class="cloud c1"></div>
    <div class="cloud c2"></div>
    <div class="cloud c3"></div>
  </div>

  <div class="loader-wrapper">
    <div class="loader">
      <span class="top-fazers"><span></span><span></span><span></span><span></span></span>
      <div class="rider-body">
        <div class="torso-base">
          <div class="jetpack"></div>
          <div class="rider-face"></div>
        </div>
      </div>
    </div>
    <div class="longfazers"><span></span><span></span><span></span><span></span></div>
    <div class="loader-brand">
      <h2 class="brand-title">Rappi'Doz</h2>
      <p class="brand-slogan">¡VOLANDO POR TU ANTOJO!</p>
    </div>
  </div>
</div>
@* #endregion *@

<script src="~/js/Shared/page-transition.js"></script>