.nav-top{
    margin: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--social-bg);
    box-shadow: var(--shadow);

}

.nav-top h2{
    display: flex;

    font-size: 22px;
    justify-content: left;
    padding: 0 20px;
}

.nav-top ul{
    display: flex;
    margin-left: auto;
    gap: 20px;
    justify-content: end;
    font-size: small;
    text-decoration: none;
    padding: 0 20px;
}

.nav-top li{
    display: flex;
    color: var(--accent);
    padding: 0 10px;
    border-radius: 20px;
}

.nav-top li a i span{
    padding: 0 5px;
}

.login{
    margin-left: 30px;
    border: 1px solid var(--accent-border);
}

.nav-top li:hover{
    background-color: var(--accent-border);
}