<section class="cta-final">
    <h2>¿Listo para ordenar?</h2>
    <div class="footer-cta-actions">
        <a asp-controller="Home" asp-action="Explorar" class="footer-cta-btn">
            Explorar restaurantes
        </a>
    </div>
</section>